.App {
  text-align: center;
  background-color: #82CAFF;
}

.App-header {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-body {
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;  
    font-family: 'Courier New', Courier, monospace;
}

.App-link {
  color: #61dafb;
}

.queryInput {
  margin-top: 25px;
  width: 500px;
}

/* .queryInput Button {
  margin-left: 25px;
} */


.queryResults {
  margin-top: 25px;
  color: black;
  font-size: 1rem;
}