.App {
  background-color: #82CAFF;
}

.App-header {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-body {
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: black;  
}

.App-body .row {
  margin-top: 25px;
}

.study-card {
  height: 70vh;
}

.study-card Button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.75em;
}

.App-link {
  color: #61dafb;
}

.query-input {
  margin-top: 25px;
  width: 500px;
}



