* {
  --inter-item-spacing: 15px;  
  --highlight-color: #CC5654;
  --light-highlight-color: #CFEBFF;
}

.App {
  /* background-color: #82CAFF; */
}

.App-body {
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: black;  
}



.App-body .row {
  margin-top: 25px;
}

.study-card Button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.75em;
}

.App-link {
  color: #61dafb;
}

.query-input {
  margin-top: 25px;
  width: 500px;
}

.section-title  {
  font-size: 3em;
  font-weight: bold;
}

.section-content { 
  margin: 20px 0;
  /* font-weight: 0.75em; */
  padding-left: 25px;
}

.information-edit-modal {
  height: 40vh;
  margin-top: 25px;
}

.information-edit-modal-body {
  height: 100%;
  overflow-y: auto;
}

.input-options, .input-section Button {
  margin-top: var(--inter-item-spacing);
}

#input-left-side {
  height: 90vh;
  overflow: scroll;
}

.input-section-title {
  margin-top: var(--inter-item-spacing)
}

.info-entry-list {
  margin-left: 7px;
}

.info-entry {
  display: inline-block;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 5px 0 0;
  text-decoration: underline;
}

.opened-info-entry {
  border: solid 0.45pt black;
  background-color: var(--light-highlight-color);
  border-radius: 2px;
}


.passive-info-entry {
  display: inline;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 5px 0 0;
  text-decoration: underline;
}

.update-new-impl {
  cursor:pointer;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 15px;
}

.impl-item {
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
  display: inline;
  margin-right: 10px;
}

.impl-badge {
  cursor: pointer;
}


.tttext {
  display: inline;
  font-family: 'Courier New', Courier, monospace;
}

.info-edit-form-footer Button {
  margin-right: 15px;
}


#navigation {
  width: 100%;
  align-content: center;
  justify-content: center;
  /* background-color: #82CAFF; */
  min-height: 100vh;
}

.nav-link, .nav-link:hover {
  color: rgba(0,0,0,0.5);
}

.nav-link.active {
  font-weight: bolder;
  color: black;  
}